# Server Configuration
PORT=5001
NODE_ENV=development

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-here
JWT_EXPIRE=30d

# Superbase Connection
DATABASE_URL=postgres://postgres.xxxx:password@aws-0-region.pooler.supabase.com:6543/postgres
DIRECT_URL=postgres://postgres.xxxx:password@aws-0-region.supabase.com:5432/postgres
# CORS Configuration
FRONTEND_URL=http://localhost:3000

# Optional: For production
# REDIS_URL=redis://localhost:6379
# SENDGRID_API_KEY=your-sendgrid-api-key


#gemini key for chatbot
GEMINI_API_KEY=YOUR GEMINI_API_KEY_HERE
